In [3]:
pwd

'C:\\Users\\vvtom\\YandexDisk\\Prog\\ITNordic\\Final_project'

In [66]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
import os

input_folder = 'input_data'

for dirname, _, filenames in os.walk('c:\\Users\\vvtom\\YandexDisk\\Prog\\ITNordic\\Final_project\\' + input_folder):
    for filename in filenames:
        print(os.path.join(dirname, filename))

c:\Users\vvtom\YandexDisk\Prog\ITNordic\Final_project\input_data\events.csv
c:\Users\vvtom\YandexDisk\Prog\ITNordic\Final_project\input_data\item_properties_part1.csv
c:\Users\vvtom\YandexDisk\Prog\ITNordic\Final_project\input_data\item_properties_part2.csv

In [24]:
events_df = pd.read_csv('input_data\events.csv')
item_properties1_df = pd.read_csv('input_data\item_properties_part1.csv')
item_properties2_df = pd.read_csv('input_data\item_properties_part2.csv')

In [88]:
ts = 1433221332117
# t = datetime.datetime.fromtimestamp(ts) #.strftime('%Y-%m-%d %H:%M:%S')
now = datetime.now()
t = datetime.fromtimestamp(1433221332117)

OSError: [Errno 22] Invalid argument

In [36]:
events_df.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

In [54]:
events_df[events_df.transactionid.notna()]

             timestamp  visitorid        event  itemid  transactionid
130      1433222276276     599528  transaction  356475         4000.0
304      1433193500981     121688  transaction   15335        11117.0
418      1433193915008     552148  transaction   81345         5444.0
814      1433176736375     102019  transaction  150318        13556.0
843      1433174518180     189384  transaction  310791         7244.0
...                ...        ...          ...     ...            ...
2755294  1438377176570    1050575  transaction   31640         8354.0
2755349  1438379878779     861299  transaction  456602         3643.0
2755508  1438357730123     855941  transaction  235771         4385.0
2755603  1438355560300     548772  transaction   29167        13872.0
2755607  1438358989163    1051054  transaction  312728        17579.0

[22457 rows x 5 columns]

In [34]:
item_properties1_df.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [56]:
item_properties1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999999 entries, 0 to 10999998
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   itemid     int64
 2   property   object
 3   value      object
dtypes: int64(2), object(2)
memory usage: 335.7+ MB